- @page = "add_user"

#load
   %form#load-tweets-form
      %div#load-tweets-title User:
      %input#load-tweets-box{ :type => "text", :name => "user", :autofocus => "true" }
      %input#load-tweets-button{ :type => "submit", :value => "Load Tweets" }
      %img.loading{ :src => "images/progress-dots.gif" }

#results
   - @users = User.all
   #results-title
      - if @users.length == 0
         = "Twitch needs something to play with. Why don't you add a user?"      
      - else
         = "#{@users.length} users indexed:"

   - @users.each do |user|
      .result
         .result-content
            .result-image
               %a{ :target => "_blank", :href => "#{'http://twitter.com/#!/'+user.screen_name}" }
                  %img{ :src => "#{user.profile_image_url}" }
            .result-text
               .result-text-row
                  %a.result-screen-name{ :target => "_blank", :href => "#{'http://twitter.com/#!/'+user.screen_name}" }
                     = user.screen_name
                  %span.result-full-name
                     = user.name
               .result-text-row
                  .result-tweet
                     = user.description